{{! Use the main layout }}
{{!< main }}

<div class="profile-container">
    <div class="profile-avatar">
        <!-- Correct path for the default avatar image -->
        <img src="{{#if user.avatar_url}}
                        {{user.avatar_url}}
                    {{else}}
                        /avatar/{{user.username}}
                    {{/if}}" 
                    alt="User Avatar" 
                    class="header-avatar">
    </div>
    
    <section class="profile-info">
        <!-- user profile info -->
        <h2>User Profile</h2>
        <p>Username: {{user.username}}</p>
        <p>Member since: {{user.memberSince}}</p>
    </section>
</div>

<section class="user-posts">
    <!-- you can call posts tweets, or truths, or whatever, these are neologisms. Choose your own new in server.js -->
    <h2>Your {{postNeoType}}s</h2>
    
    <!-- you'll need to make this conditaionl and #each expression work -->
    {{#if userPosts.length}}
        <ul>
            {{#each userPosts}}
                {{> post this user=../user}}
            {{/each}}
        </ul>
    {{else}}
        <!-- fix this up with some helper functions and other handlebars expressions, or add you own character -->
        <p>You have not yapped yet, yapper.</p>
    {{/if}}
</section>
